<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Gray</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
      <header class="header">
            <div class="header_main_cont">
                  <div class="header_top">
                        <a href="/index.html" class="header_top-logo logo">Light Gray</a>
                        <input class="header_top-search" type="search" value="Search">
                  </div>
                  <div class="header_bottom">
                        <ul class="nav_list">
                              <li class="nav_item"><a href="/index.html" class="nav_link">Home</a></li>
                              <li class="nav_item"><a href="./news.html" class="nav_link">Latest News</a></li>
                              <li class="nav_item"><a href="./portfolio.html" class="nav_link">Portfolio</a></li>
                              <li class="nav_item"><a href="./about_us.html" class="nav_link active">About Us</a></li>
                              <li class="nav_item"><a href="./contact.html" class="nav_link">Contact</a></li>
                        </ul>
                  </div>
            </div>
      </header>
      <main class="about">
            <div class="about_main_cont">
                  <div class="about_inner">
                  <section class="about_content">
                        <h2 class="about_content-title">Who We Are</h2>
                        <div class="about_content-info">
                              <div class="about_content-info_img-wrapper">
                                    <img src="../img/gaming_chair.jpg" alt="about us img" class="about_content-info_img">
                              </div>
                              <p class="about_content-info_text">
                              <span class="italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                              elementum velit in tortor faucibus id tempus enim sodales.</span> Etiam
                              magna metus, hendrerit non aliquam nec, tincidunt nec metus. Sed
                              nec odio vel nulla pellentesque sodales a molestie nisi.Lorem ipsum
                              dolor sit amet, consectetur adipiscing elit. Aenean ac leo nisi. Nullam
                              lorem enim, rutrum a luctus ut, facilisis ut est. Phasellus leo dolor,
                              consequat a posuere a, tincidunt lobortis erat. Quisque placerat
                              dapibus condimentum. Validate <a href="#" class="link">XHTML</a> & <a href="#" class="link">CSS</a>.
                              </p>
                        </div>
                        <h2 class="about_content-subtitle">
                              Our Services
                        </h2>
                        <p class="about_content-subtext">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac leo nisi. Nullam lorem enim, rutrum a
                              luctus ut, facilisis ut est. Phasellus leo dolor, consequat a posuere a, tincidunt lobortis erat. Quisque
                              placerat dapibus condimentum. Donec eget sem erat, ut tincidunt lectus. Class aptent taciti sociosqu ad
                              litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque habitant morbi tristique
                              senectus et netus et malesuada fames ac turpis egestas.
                        </p>
                        <div class="about_content-lists">
                              <ul class="about_content-list">
                                    <li class="about_content-item">Lorem ipsum dolor sit amet.</li>
                                    <li class="about_content-item">Lorem ipsum dolor sit amet.</li>
                                    <li class="about_content-item">Lorem ipsum dolor sit amet.</li>
                                    <li class="about_content-item">Lorem ipsum dolor sit amet.</li>
                                    <li class="about_content-item">Lorem ipsum dolor sit amet.</li>
                              </ul>
                              <ul class="about_content-list">
                                    <li class="about_content-item">Lorem ipsum dolor sit amet.</li>
                                    <li class="about_content-item">Lorem ipsum dolor sit amet.</li>
                                    <li class="about_content-item">Lorem ipsum dolor sit amet.</li>
                                    <li class="about_content-item">Lorem ipsum dolor sit amet.</li>
                                    <li class="about_content-item">Lorem ipsum dolor sit amet.</li>
                              </ul>
                              <button class="about_lists-btn">More</button>
                        </div>
                  </section>
                  <aside class="about_sidebar sidebar">
                        <div class="sidebar_news">
                              <h2 class="sidebar_news-title">Our News</h2>
                              <ul class="sidebar_news-list">
                              <li class="sidebar_news-item post">
                                    <div class="post_inner">
                                          <div class="post_img-wrapper">
                                                <img src="../img/orange4.jpg" alt="post img" class="post_img">
                                          </div>
                                          <div class="post_info">
                                                <h4 class="post_title">Quisque onare pulvinar</h4>
                                                <p class="post_text">
                                                      ALiquam lacus turpis, dappibus eget, tincidunt eu. Integer pellentesque dignissim.
                                                </p>
                                          </div>
                                          <span class="post_date">June 28, 2048</span>
                                    </div>
                              </li>
                              <li class="news_updates-item post">
                                    <div class="post_inner">
                                          <div class="post_img-wrapper">
                                                <img src="../img/orange2.jpg" alt="post img" class="post_img">
                                          </div>
                                          <div class="post_info">
                                                <h4 class="post_title">Nullam consectetur</h4>
                                                <p class="post_text">
                                                      Nam id nibh quis nisi tristique phareta a ut leo. Aenean vel lorem odio.
                                                </p>
                                          </div>
                                          <span class="post_date">June 24, 2048</span>
                                    </div>
                              </li>
                              </ul>
                              <button class="sidebar_news-btn">More</button>
                        </div>
                        <div class="sidebar_testimonials">
                              <h2 class="sidebar_testimonials-title">Testimonials</h2>
                              <p class="sidebar_testimonials-text">
                              In quam nibh, placerat ac, porta ac, molestie non, purus. Nunc a nulla. Suspendisse vitae orci a ligula egestas bibendum. Vestibulum ultrices. Pellentesque tempus sapien nec sem commondo ullamcorper. Aenean neque. Cras feugiat. In ut ante.
                              </p>
                              <span class="sidebar_testimonials-author">Steven - Web Designer</span>
                        </div>
                  </aside>
                  </div>
            </div>
      </main>
      <footer class="footer">
            <div class="container">
                  <p class="footer_text">
                  Copyright © 2048 <a href="#" class="footer_link">Your Company Name</a>
                  </p>
            </div>
      </footer>
</body>
</html>