<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Gray</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
      <header class="header">
            <div class="header_main_cont">
                  <div class="header_top">
                        <a href="/index.html" class="header_top-logo logo">Light Gray</a>
                        <input class="header_top-search" type="search" value="Search">
                  </div>
                  <div class="header_bottom">
                        <ul class="nav_list">
                              <li class="nav_item"><a href="/index.html" class="nav_link">Home</a></li>
                              <li class="nav_item"><a href="./news.html" class="nav_link">Latest News</a></li>
                              <li class="nav_item"><a href="./portfolio.html" class="nav_link">Portfolio</a></li>
                              <li class="nav_item"><a href="./about_us.html" class="nav_link">About Us</a></li>
                              <li class="nav_item"><a href="./contact.html" class="nav_link active">Contact</a></li>
                        </ul>
                  </div>
            </div>
      </header>
      <main class="contact">
            <div class="contact_main_cont">
                  <h1 class="contact_title">Contact Information</h1>
                  <div class="contact_inner">
                        <div class="contact_info">
                              <p class="contact_info-text">
                                    Nullam ut neque neque. Suspendisse ac commodo libero. Sed aliquam
                                    mauris vel mi feugiat interdum. Etiam ut nibh et urna cursus ultricies nec
                                    vel nunc. In hac habitasse platea dictumst. In pretium eleifend arcu, sit
                                    amet faucibus nunc egestas. Validate <a href="#" class="link">XHTML</a> & <a href="#" class="link">CSS</a>.
                              </p>
                              <h3 class="contact_info-subtitle">Where We Are</h3>
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.0425330904254!2d74.57651857583855!3d42.871946402609076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb618e8bfffff%3A0xa628e0fa4dc17acb!2sINAI!5e0!3m2!1sru!2skg!4v1695309799827!5m2!1sru!2skg" width="250" height="150" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                              <h2 class="contact_info-subtitle">Our Company</h2>
                              <h4 class="contact_info-address">Mailing Address</h4>
                              <p class="contact_info-text">
                                    360-480 Vitae urna blandit est egestas, 
                                    <br>Pulvinar sit amet convallis eget, 
                                    <br>22440 Lorem ipsum dolor
                              </p>
                              <ul class="contact_info-detail">
                                    <li>Tel: 010-020-4400</li>
                                    <li>Fax: 010-020-5500</li>
                              </ul>
                        </div>
                        <div class="contact_form">
                              <h3 class="contact_form-title">Quick Contact Form</h3>
                              <form class="contact_form-inner" action="/" method="post">
                                    <h5 class="contact_form-name">Name:</h5>
                                    <input type="text" name="text" id="text">
                                    <h5 class="contact_form-name">Email:</h5>
                                    <input type="email" name="email" id="email">
                                    <h5 class="contact_form-name">Subject:</h5>
                                    <input type="text" name="subject" id="subject">
                                    <h5 class="contact_form-name">Message:</h5>
                                    <textarea name="message" id="message" ></textarea>
                                    <div class="contact_form-buttons">
                                          <button type="submit">Send</button>
                                          <button type="reset">Reset</button>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </main>
      <footer class="footer">
            <div class="container">
                  <p class="footer_text">
                  Copyright © 2048 <a href="#" class="footer_link">Your Company Name</a>
                  </p>
            </div>
      </footer>
</body>
</html>