<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Gray News</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header class="header">
        <div class="header_main_cont">
            <div class="header_top">
                <a href="/index.html" class="header_top-logo logo">Light Gray</a>
                <input class="header_top-search" type="search" value="Search">
            </div>
            <div class="header_bottom">
                <ul class="nav_list">
                    <li class="nav_item"><a href="/index.html" class="nav_link">Home</a></li>
                    <li class="nav_item"><a href="./news.html" class="nav_link active">Latest News</a></li>
                    <li class="nav_item"><a href="./portfolio.html" class="nav_link">Portfolio</a></li>
                    <li class="nav_item"><a href="./about_us.html" class="nav_link">About Us</a></li>
                    <li class="nav_item"><a href="./contact.html" class="nav_link">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main class="news_blog">
        <div class="news_blog_main_cont">
            <div class="news_blog_inner">
                <section class="news_blog_reels">
                    <article class="news_blog_reels-item post">
                        <span class="post_details">Posted in 
                            <a href="#" class="link">Web Templates</a>, 
                            <a href="#" class="link">Css</a> | Date: Jane 28, 2048
                        </span>
                        <h3 class="post_title">Sed molis elementum lectus rhoncus</h3>
                        <div class="post_img-wrapper">
                            <div class="post_img-frame">
                                <img src="../img/ceiling.jpg" alt="post img" class="post_img">
                            </div>
                        </div>
                        <p class="post_text">
                            Nunc varius venenatis sem sed adipscing. Mauris suscipt mauris in purus mattis placerat. Ut rhoncus imperdit nibh sit amet sagittis. Aliquam erat volutpat. In pellentesque sagitts dictum. Aliquam eart volutpat. Donec ac aliquam neque. Validate <a href="#" class="link">XHTML</a> & <a href="#" class="link">CSS</a>.                        
                        </p>
                        <button class="post_btn">More</button>
                    </article>
                    <article class="news_blog_reels-item post">
                        <span class="post_details">Posted in 
                            <a href="#">Interfaces</a>, 
                            <a href="#">Web Design</a> | Date: Jane 24, 2048
                        </span>
                        <h3 class="post_title">Nunc varis venenatis sem sed</h3>
                        <div class="post_img-wrapper">
                            <div class="post_img-frame">
                                <img src="../img/apple-surface-drops-red-wallpaper.jpg" alt="post img" class="post_img">
                            </div>
                        </div>
                        <p class="post_text">
                            Aliquam erat volutpat. In pellentesque sagittis  dictim. Aliquam erat volutpat. Donec ac aliquam neque. Sed tellus diam, consequat nec volutpat et, cursus ac nsis. Mauris in risus in diam consequat suscipit non ac enim.
                        </p>
                        <button class="post_btn">More</button>
                    </article>
                </section>
                <aside class="news_blog_sidebar sidebar">
                    <div class="sidebar">
                        <h2 class="sidebar-title">Categories</h2>
                        <ul class="sidebar-list">
                            <li class="sidebar-item">Lorem ipsum dolor sit amet.</li>
                            <li class="sidebar-item">Lorem ipsum dolor sit amet.</li>
                            <li class="sidebar-item">Lorem ipsum dolor sit amet.</li>
                            <li class="sidebar-item">Lorem ipsum dolor sit amet.</li>
                            <li class="sidebar-item">Lorem ipsum dolor sit amet.</li>
                            <li class="sidebar-item">Lorem ipsum dolor sit amet.</li>
                            <li class="sidebar-item">Lorem ipsum dolor sit amet.</li>
                            <li class="sidebar-item">Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </div>
                    <div class="sidebar_news">
                        <h2 class="sidebar_news-title">Our News</h2>
                        <ul class="sidebar_news-list">
                            <li class="sidebar_news-item post">
                                <div class="post_inner">
                                    <div class="post_img-wrapper">
                                        <img src="../img/orange2.jpg" alt="post img" class="post_img">
                                    </div>
                                    <div class="post_info">
                                        <h4 class="post_title">Quisque onare pulvinar</h4>
                                        <p class="post_text">
                                            ALiquam lacus turpis, dappibus eget, tincidunt eu. Integer pellentesque dignissim.
                                        </p>
                                    </div>
                                    <span class="post_date">June 28, 2048</span>
                                </div>
                            </li>
                            <li class="news_updates-item post">
                                <div class="post_inner">
                                    <div class="post_img-wrapper">
                                        <img src="../img/orange3.jpg" alt="post img" class="post_img">
                                    </div>
                                    <div class="post_info">
                                        <h4 class="post_title">Nullam consectetur</h4>
                                        <p class="post_text">
                                            Nam id nibh quis nisi tristique phareta a ut leo. Aenean vel lorem odio.
                                        </p>
                                    </div>
                                    <span class="post_date">June 24, 2048</span>
                                </div>
                            </li>
                        </ul>
                        <button class="sidebar_news-btn">More</button>
                    </div>
                    <div class="sidebar_testimonials">
                        <h2 class="sidebar_testimonials-title">Testimonials</h2>
                        <p class="sidebar_testimonials-text">
                            In quam nibh, placerat ac, porta ac, molestie non, purus. Nunc a nulla. Suspendisse vitae orci a ligula egestas bibendum. Vestibulum ultrices. Pellentesque tempus sapien nec sem commondo ullamcorper. Aenean neque. Cras feugiat. In ut ante.
                        </p>
                        <span class="sidebar_testimonials-author">Steven - Web Designer</span>
                    </div>
                </aside>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p class="footer_text">
                Copyright © 2048 <a href="#" class="footer_link">Your Company Name</a>
            </p>
        </div>
    </footer>
</body>
</html>