<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
      <header class="header">
            <div class="header_main_cont">
                  <div class="header_top">
                        <a href="/index.html" class="header_top-logo logo">Light Gray</a>
                        <input class="header_top-search" type="search" value="Search">
                  </div>
                  <div class="header_bottom">
                        <ul class="nav_list">
                              <li class="nav_item"><a href="/index.html" class="nav_link">Home</a></li>
                              <li class="nav_item"><a href="./news.html" class="nav_link">Latest News</a></li>
                              <li class="nav_item"><a href="./portfolio.html" class="nav_link active">Portfolio</a></li>
                              <li class="nav_item"><a href="./about_us.html" class="nav_link">About Us</a></li>
                              <li class="nav_item"><a href="./contact.html" class="nav_link">Contact</a></li>
                        </ul>
                  </div>
            </div>
      </header>
      <main class="portfolio">
            <div class="portfolio_main_cont">
                  <div class="portfolio_inner">
                  <h1 class="portfolio_title">Our Gallery</h1>
                  <p class="portfolio_text">
                        Etiam magna metus, hendrerit non aliquam nec, tincidunt nec metus. SEd nec odio vel nulla pellentesque sodales a molitestie nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac leo nisi. Nullum lorem enim, ruturum a luctus ut, facilisis ut est. Phasellus leo dolor, consequat a posuere a, tincidunt lobortis erat. Quisque placerat dapibus condimentum. Validate <a href="#" class="link">XHTML</a> & <a href="#" class="link">CSS</a>.
                  </p>
                  <div class="portfolio_gallery">
                        <div class="portfolio_gallery-img-wrapper">
                              <img src="../img/project1.webp" alt="project" class="portfolio_gallery-img">
                              <div class="portfolio_gallery-img-title">Project I</div>
                        </div>
                        <div class="portfolio_gallery-img-wrapper">
                              <img src="../img/project2.jpg" alt="project" class="portfolio_gallery-img">
                              <div class="portfolio_gallery-img-title">Project II</div>
                        </div>
                        <div class="portfolio_gallery-img-wrapper">
                              <img src="../img/project3.png" alt="project" class="portfolio_gallery-img">
                              <div class="portfolio_gallery-img-title">Project III</div>
                        </div>
                        <div class="portfolio_gallery-img-wrapper">
                              <img src="../img/project4.png" alt="project" class="portfolio_gallery-img">
                              <div class="portfolio_gallery-img-title">Project IV</div>
                        </div>
                        <div class="portfolio_gallery-img-wrapper">
                              <img src="../img/project5.png" alt="project" class="portfolio_gallery-img">
                              <div class="portfolio_gallery-img-title">Project V</div>
                        </div>
                        <div class="portfolio_gallery-img-wrapper">
                              <img src="../img/project6.png" alt="project" class="portfolio_gallery-img">
                              <div class="portfolio_gallery-img-title">Project VI</div>
                        </div>
                  </div>
                  </div>
            </div>
      </main>
      <footer class="footer">
            <div class="container">
                  <p class="footer_text">
                  Copyright © 2048 <a href="#" class="footer_link">Your Company Name</a>
                  </p>
            </div>
      </footer>
</body>
</html>
